.logo{
  border-bottom: 3px solid black;
  padding: 5px;
}
.bg-gray{
  background-color: lightgray;
}
.heading-one{
  font-size: 40px;
}
.container{
  padding: 40px;
}
.article{
  margin-top: 10px;
  margin-bottom: 5px;
  color: gray;
}
.random-gray-block{
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-area{
  color: white;
  max-width: 500px;
}
.form-group{
  padding-bottom: 10px;
}
.err-message{
  text-align: right;
}
#list-generator{
  color: red;
  text-decoration: none;
}
button.submit{
  padding-left: 20px;
  padding-right: 20px;
}
.puzzle{
  margin-bottom: 50px;
}
.bottom{
  background-color: black;
  color: white;
  font-style: italic;
  padding: 10px;
}

@media (max-width: 768px){
  .err-message{
    text-align: left;
  }
}
